@model IEnumerable<Web_BanXeMoTo.Models.DatLich>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayDat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XacNhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdkhNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdmauNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XacNhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdkhNavigation.Idkh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdmauNavigation.Idmau)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IddatLich">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IddatLich">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IddatLich">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
