@model IEnumerable<Web_BanXeMoTo.Models.KhachHang>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Index.cshtml";
}


<div class="app-main__inner">
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Find by name: <input type="text" name="search" value="@ViewData["search"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="Index">Back to Full List</a>
            </p>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["ID"]">@Html.DisplayNameFor(model => model.Idkh)</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Idtk)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdloaiKh)
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["Name"]">@Html.DisplayNameFor(model => model.TenKh)</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DiaChi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DienThoai)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Avatar)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Idkh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Idtk)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdloaiKhNavigation.TenLoaiKh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenKh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaChi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DienThoai)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Avatar)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Idkh">Edit</a> |
                        <a asp-action="Detail" asp-route-id="@item.Idkh">Detail</a>
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>


